<div class="lines">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>

<div class="card">
  <div class="card-head">
    <app-seleton-loader
      *ngIf="!loaded"
      Cwidth="100"
      Cheight="100"
      circle="true"
    ></app-seleton-loader>

    <img
      *ngIf="loaded"
      src="https://avatars1.githubusercontent.com/u/8316352?s=460&u=1d73cd16121cf1c5e64653c85a570fe4d0560940&v=4"
      alt="person"
    />
    <div class="info">
      <app-seleton-loader *ngIf="!loaded" Cwidth="100"></app-seleton-loader>
      <div *ngIf="loaded" class="name">Silas Dantas</div>

      <app-seleton-loader *ngIf="!loaded" Cwidth="150"></app-seleton-loader>
      <div *ngIf="loaded" class="desc">FullStack Developer</div>
    </div>
  </div>
  <div class="card-body">
    <app-seleton-loader *ngIf="!loaded" Cwidth="100"></app-seleton-loader>
    <strong *ngIf="loaded">About</strong>
    <app-seleton-loader
      *ngIf="!loaded"
      Cwidth="270"
      Cheight="70"
    ></app-seleton-loader>
    <div *ngIf="loaded" class="about">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In ullam cum
      mollitia commodi error voluptate ipsam tempora unde voluptatum.
      Accusantium unde asperiores numquam amet debitis voluptate illum corporis!
      Perferendis, debitis.
    </div>
  </div>
</div>
